[Desktop Entry]
Encoding=UTF-8
Name=Video
Name[x-test]=xxVideoxx

Type=Service
ServiceTypes=Plasma/Wallpaper
Icon=preferences-desktop-wallpaper
X-Plasma-MainScript=ui/main.qml
X-KDE-PluginInfo-Name=org.kde.video
X-KDE-PluginInfo-EnabledByDefault=true

